body{
  height: 100vh;
  background-image: url("../img/table4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  top: 25%;
  width: 80%;
  max-width: 400px;
  height: 50%;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 82px;
  padding: 20px;
  text-transform: capitalize;
  text-align: center;
}

.footer{
  margin-top: 1.7vh;
}

.footer a{
  color: white;
}

.footer i:hover{
  transform: scale(1.5);
}
