body{
  background-image: url("../img/table4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 90vh;
  margin: 1vh 0vh;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3vh;
  min-width: 440px;
}

.row{
  display: flex;
  justify-content: center;
}

#exitSettings{
  color: rgb(200, 82, 70);
  align-self: flex-end;
  position: relative;
  top: -1vh;
  right: 2vh;
  line-height: 0;
  font-size: 3vh;
}

.settings{
  position: absolute;
  top: 30vh;
  left: 30vw;
  width: 40vw;
  height: 20vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  border-radius: 4vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label{
  margin: 0vh 0.5vh;
  width: 20vh;
}
#playersSection span, #redSection span{
  width: 20vh;
}

button{
  margin: 0vh 0.5vh;
  width: 45%;
}

#settings-button, #start-button{
  font-size: 3vh;
}

#start-button{
  /*background-color: rgb(242, 87, 71);*/
  background: linear-gradient(rgb(255, 100, 90),rgb(200, 50, 40));
  border-color: rgb(200, 50, 40);
}

#settings-button{
  background: linear-gradient(rgb(200, 200, 200),rgb(150, 150, 150));
  border-color: rgb(150,150,150);
}

#buttonsSection{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input{
  position: relative;
  top: -0.3vh;
}

#playersSection, #redSection{
  padding: 1vh;
  border-radius: 2vh;
  display: flex;
  justify-content: space-around;
  font-size: 3vh;
}

.winnerOverlay{
  background-color: rgba(0, 0, 0, 0.8);
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 30vh;
  left: 30vw;
  z-index: 1;
  border-radius: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  padding: 3vh;
  text-transform: capitalize;
}

.board-container{
  width: 84vh;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;;
  background-image: url("../img/checkers-board.jpg");
  background-size: cover;
  margin: 1vh;
  min-height: 350px;
  min-width: 350px;
  border-radius: 1vh;
}


.tile{
  width: 10vh;
  height: 10vh;
  min-height: 40px;
  min-width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile:hover{
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.chosen{
  border: 1px solid green;
}

.black{
  background-image: url("../img/checkers-checker-black.svg");
}

.red{
  background-image: url("../img/checkers-checker-red.svg");
}

.black-king{
  background-image: url("../img/checkers-checker-black-king.svg");
}

.red-king{
  background-image: url("../img/checkers-checker-red-king.svg");
}

img{
  height: 109%;
  position: relative;
  top: -6%;
  left: -3%;
}

#redCounter, #blackCounter{
  background-size: cover;
  display: inline-block;
  height: 9vh;
  width: 9vh;
  line-height: 9vh;
  text-align: center;
  color: white;
  font-size: 4vh;
}

#redCounter{
  background-image: url("../img/checkers-checker-red.svg");
}

#blackCounter{
  background-image: url("../img/checkers-checker-black.svg");
}

#toggles{
  height: 7vh;
  width: 1vh;
  display: inline-block;
  position: relative;
  top: -0.7vh;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dark{
  opacity: 0.2;
}

#counterSection{
  height: 10vh;
  width: 40%;
  line-height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#redCaret, #blackCaret{
  font-size: 8vh;
}

.footer{
  height: 6vh;
  min-height: 25px;
  min-width: 440px;
  width: 117vh;
  line-height: 6vh;
}
