body{
  background-image: url("../img/table4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  min-width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 90vh;
  margin: 5vh 0vh;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3vh;
  min-width: 440px;
  /*display: flex;*/
  /*justify-content: space-around;*/
}

.row{
  display: flex;
  justify-content: center;
}

#exitSettings{
  color: rgb(200, 82, 70);
}

.settings{
  position: absolute;
  top: 42.5vh;
  left: 30vw;
  width: 40vw;
  height: 15vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  border-radius: 4vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label{
  margin: 0vh 0.5vh;
}

button{
  margin: 0vh 0.5vh;
  width: 30%;
}

input{
  position: relative;
  top: -0.3vh;
}

#playersSection, #redSection{
  padding: 1vh;
  border-radius: 2vh;
  display: flex;
  justify-content: space-around;
  font-size: 3vh;
}

.header{
  height: 6vh;
  min-height: 25px;
  min-width: 440px;
  width: 117vh;
  line-height: 6vh;
  font-size: 5vh;
  margin: 1vh;
  text-transform: uppercase;
}

.board-container{
  width: 76vh;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;;
  background-image: url("../img/checkers-board.jpg");
  background-size: cover;
  margin: 2vh;
  min-height: 350px;
  min-width: 350px;
}


.tile{
  width: 9vh;
  height: 9vh;
  min-height: 40px;
  min-width: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile:hover{
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
}

.chosen{
  border: 1px solid green;
}

.black{
  background-image: url("../img/checkers-checker-black.svg");
}

.red{
  background-image: url("../img/checkers-checker-red.svg");
}

.black-king{
  background-image: url("../img/checkers-checker-black-king.svg");
}

.red-king{
  background-image: url("../img/checkers-checker-red-king.svg");
}

img{
  height: 109%;
  position: relative;
  top: -6%;
  left: -3%;
}

#redCounter, #blackCounter{
  background-size: cover;
  display: inline-block;
  height: 9vh;
  width: 9vh;
  line-height: 9vh;
  text-align: center;
  color: white;
  font-size: 4vh;
}

#redCounter{
  background-image: url("../img/checkers-checker-red.svg");
}

#blackCounter{
  background-image: url("../img/checkers-checker-black.svg");
}

#toggles{
  height: 7vh;
  width: 1vh;
  display: inline-block;
  position: relative;
  top: -0.7vh;
}

.dark{
  opacity: 0.2;
}

#counterSection{
  height: 10vh;
  line-height: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#redCaret, #blackCaret{
  font-size: 8vh;
}

.footer{
  height: 6vh;
  min-height: 25px;
  min-width: 440px;
  width: 117vh;
  line-height: 6vh;
}
